<?xml version="1.0" encoding="UTF-8"?>
<suite name="My test suite">
<listeners>
	<listener class-name="com.cuadrado.starbucks.training.MyCoolListener"></listener>
</listeners>
<parameter name="browser" value="1"/>
	<test name="My first test">
		<classes>
			<class name="com.cuadrado.starbucks.Test.StarbucksTests"></class>
		</classes>
	</test>
</suite>